.scottish-fold-description, .scottish-fold-description * {
     box-sizing: border-box;
     }
.scottish-fold-description {
    background: linear-gradient(180deg, rgba(254, 10, 229, 0.00) 0%,rgba(27, 251, 251, 1.00) 100%);
     width: 430px;
     height: 932px;
     position: relative;
     overflow: hidden;
    }

 .rectangle-118 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%,rgba(91, 104, 219, 1.00) 100%);
     border-radius: 23px;
     width: 393px;
     height: 697px;
     position: absolute;
     left: 13px;
    top: 132px;
    }

 .rectangle-126 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 127px;
    top: 519px;
    }

 .rectangle-127 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 224px;
    top: 519px;
    }

 .rectangle-125 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 30px;
    top: 519px;
    }

 .rectangle-128 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 321px;
    top: 519px;
    }

 .rectangle-17 {
    border-radius: 54px;
     width: 393px;
     height: 345px;
     position: absolute;
     left: 13px;
    top: 143px;
    }

 .rectangle-14 {
    border-radius: 37px;
     width: 393px;
     height: 345px;
     position: absolute;
     left: 13px;
    top: 132px;
    }

 .cookie-is-a-male-puspin-he-is-a-4-years-old-cat-with-a-weight-of-8-pounds-and-9-inches-height-its-color-is-black-and-white-combination-he-is-fully-vaccinated-with-feline-4-in-1-that-worth-700-pesos-and-6-in-1-worth-800-pesos-he-is-a-kind-and-lovable-cat {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marcellus', sans-serif;
     position: absolute;
     left: 30px;
    top: 685px;
     width: 368px;
     height: 144px;
    }

 .group-178 {
    position: absolute;
     inset: 0;
    }

 .cash-on-delivery-available {
    color: #000000;
     text-align: left;
     font: 400 13px 'Marmelad', sans-serif;
     position: absolute;
     left: 220px;
    top: 628px;
    }

 .puspin {
    color: #000000;
     text-align: left;
     font: 400 20px 'Marmelad', sans-serif;
     position: absolute;
     left: 37px;
    top: 582px;
    }

 ._1-500-00 {
    color: #f00707;
     text-align: left;
     font: 400 20px 'Marmelad', sans-serif;
     position: absolute;
     left: 37px;
    top: 606px;
    }

 .payment-service {
    color: #000000;
     text-align: left;
     font: 400 20px 'Marko One', sans-serif;
     position: absolute;
     left: 212px;
    top: 582px;
    }

 .rectangle-20 {
    background: #07922e;
     width: 31px;
     height: 19px;
     position: absolute;
     left: 181px;
    top: 626px;
    }

 .cod {
    color: #ffffff;
     text-align: left;
     font: 400 13px 'Marmelad', sans-serif;
     position: absolute;
     left: 186px;
    top: 643px;
     width: 31px;
     height: 15px;
     transform-origin: 0 0;
     transform: rotate(0deg) scale(1, -1);
    }

 .rectangle-119 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 30px;
    top: 519px;
    }

 .rectangle-120 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 127px;
    top: 519px;
    }

 .rectangle-121 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 224px;
    top: 519px;
    }

 .rectangle-122 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 321px;
    top: 519px;
    }

 .rectangle-123 {
    background: rgba(217, 217, 217, 0.94);
     border-radius: 16px;
     width: 352px;
     height: 70px;
     position: absolute;
     left: 37px;
    top: 439px;
    }

 .fully-vaccinated {
    color: #000000;
     text-align: left;
     font: 400 13px 'Marko One', sans-serif;
     position: absolute;
     left: 274px;
    top: 466px;
    }

 .black {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 242px;
    top: 530px;
     width: 53px;
     height: 25px;
    }

 .puspin2 {
    color: #000000;
     text-align: center;
     font: 400 14px 'Marko One', sans-serif;
     position: absolute;
     left: 326px;
    top: 530px;
     width: 68px;
     height: 19px;
    }

 .male {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 47px;
    top: 530px;
     width: 59px;
     height: 20px;
    }

 .description {
    color: #000000;
     text-align: left;
     font: 400 16px 'Marko One', sans-serif;
     position: absolute;
     left: 31px;
    top: 655px;
    }

 .cookie-8-pounds-9-inches {
    color: #000000;
     text-align: left;
     position: absolute;
     left: 45px;
    top: 447px;
     width: 88px;
    }

.cookie-8-pounds-9-inches-span {
    
            color: #000000;
    
            font: 400 15px 'Marko One', sans-serif;
    
            
            
        }

.cookie-8-pounds-9-inches-span2 {
    
            color: #000000;
    
            font: 400 13px 'Marko One', sans-serif;
    
            
            
        }

 ._4-years {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 133px;
    top: 530px;
     width: 78px;
     height: 21px;
    }

 .text {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 330px;
    top: 530px;
     width: 68px;
     height: 19px;
    }

 .group-125 {
    position: absolute;
     inset: 0;
    }

 .group-122 {
    width: 244.14px;
     height: 59.23px;
     position: static;
    }

 .group-117 {
    width: 244.14px;
     height: 59.23px;
     position: static;
    }

 .rectangle-28 {
    background: #ffffff;
     border-radius: 86.09px;
     width: 243.99px;
     height: 58.59px;
     position: absolute;
     left: 107.16px;
    top: 51px;
     transform-origin: 0 0;
     transform: rotate(0.152deg) scale(1, 1);
    }

 .search {
    position: absolute;
     left: 133px;
    top: 63px;
     overflow: visible;
    }

 .puspin3 {
    color: #000000;
     text-align: left;
     font: 400 24px 'Metrophobic', sans-serif;
     position: absolute;
     left: 177px;
    top: 63px;
    }

 .arrow-left {
    width: 48px;
     height: 48px;
     position: absolute;
     left: 38px;
    top: 54px;
     overflow: hidden;
    }

 .group {
    position: absolute;
     left: 3px;
    top: 10.5px;
     overflow: visible;
    }

 .cart-4 {
    width: 48px;
     height: 48px;
     position: absolute;
     left: 361px;
    top: 54px;
     overflow: hidden;
    }

 .group-13 {
    position: absolute;
     inset: 0;
    }

 .group2 {
    position: absolute;
     left: 0px;
    top: 6px;
     overflow: visible;
    }

 .group-60 {
    position: absolute;
     inset: 0;
    }

 .group-58 {
    width: 110.9px;
     height: 44px;
     position: static;
    }

 .rectangle-31 {
    background: #f00707;
     border-radius: 48px;
     width: 104px;
     height: 44px;
     position: absolute;
     left: 295.01px;
    top: 862px;
    }

 .buy-now {
    color: #ffffff;
     text-align: left;
     font: 400 16px 'Marmelad', sans-serif;
     position: absolute;
     left: 317.01px;
    top: 871px;
     width: 88.9px;
    }

 .group-63 {
    position: absolute;
     inset: 0;
    }

 .group-59 {
    width: 104px;
     height: 44px;
     position: static;
    }

 .rectangle-312 {
    background: #ffffff;
     border-radius: 48px;
     width: 104px;
     height: 44px;
     position: absolute;
     left: 181.01px;
    top: 862px;
    }

 .add-to-cart {
    color: #f00707;
     text-align: left;
     font: 400 15px 'Marmelad', sans-serif;
     position: absolute;
     left: 194.01px;
    top: 875px;
     width: 81.82px;
    }

 .group-62 {
    position: absolute;
     inset: 0;
    }

 .commenting {
    position: absolute;
     left: 94.88px;
    top: 859px;
     overflow: visible;
    }

 .message {
    color: #000000;
     text-align: left;
     font: 400 16px 'Inter', sans-serif;
     position: absolute;
     left: 81.01px;
    top: 898.13px;
     width: 87px;
     height: 21.87px;
    }

 .commenting2 {
    position: absolute;
     left: 94.88px;
    top: 859px;
     overflow: visible;
    }

 .group-194 {
    position: absolute;
     inset: 0;
    }

 .vector6 {
    position: absolute;
     left: 21px;
    top: 853px;
     overflow: visible;
    }

 .shop {
    color: #000000;
     text-align: left;
     font: 400 16px 'Inter', sans-serif;
     position: absolute;
     left: 25.01px;
    top: 900.71px;
     width: 39px;
     height: 19.29px;
    }

