.persian-description, .persian-description * {
     box-sizing: border-box;
     }
.persian-description {
    background: linear-gradient(180deg, rgba(254, 10, 229, 0.00) 0%,rgba(27, 251, 251, 1.00) 100%);
     width: 430px;
     height: 932px;
     position: relative;
     overflow: hidden;
    }

 .rectangle-24 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%,rgba(91, 104, 219, 1.00) 100%);
     border-radius: 23px;
     width: 393px;
     height: 697px;
     position: absolute;
     left: 16px;
    top: 144px;
    }

 .rectangle-17 {
    border-radius: 54px;
     width: 393px;
     height: 345px;
     position: absolute;
     left: 18px;
    top: 143px;
    }

 .group-176 {
    position: absolute;
     inset: 0;
    }

 .cash-on-delivery-available {
    color: #000000;
     text-align: left;
     font: 400 13px 'Marmelad', sans-serif;
     position: absolute;
     left: 220px;
    top: 634px;
    }

 .puspin {
    color: #000000;
     text-align: left;
     font: 400 20px 'Marmelad', sans-serif;
     position: absolute;
     left: 37px;
    top: 588px;
    }

 ._1-500-00 {
    color: #f00707;
     text-align: left;
     font: 400 20px 'Marmelad', sans-serif;
     position: absolute;
     left: 37px;
    top: 612px;
    }

 .payment-service {
    color: #000000;
     text-align: left;
     font: 400 20px 'Marko One', sans-serif;
     position: absolute;
     left: 212px;
    top: 588px;
    }

 .rectangle-20 {
    background: #07922e;
     width: 31px;
     height: 19px;
     position: absolute;
     left: 181px;
    top: 632px;
    }

 .cod {
    color: #ffffff;
     text-align: left;
     font: 400 13px 'Marmelad', sans-serif;
     position: absolute;
     left: 186px;
    top: 649px;
     width: 31px;
     height: 15px;
     transform-origin: 0 0;
     transform: rotate(0deg) scale(1, -1);
    }

 .rectangle-102 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 30px;
    top: 525px;
    }

 .rectangle-107 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 127px;
    top: 525px;
    }

 .rectangle-108 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 224px;
    top: 525px;
    }

 .rectangle-109 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 321px;
    top: 525px;
    }

 .rectangle-106 {
    background: rgba(217, 217, 217, 0.94);
     border-radius: 16px;
     width: 352px;
     height: 70px;
     position: absolute;
     left: 37px;
    top: 445px;
    }

 .fully-vaccinated {
    color: #000000;
     text-align: left;
     font: 400 13px 'Marko One', sans-serif;
     position: absolute;
     left: 274px;
    top: 472px;
    }

 .orange {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 235px;
    top: 534px;
     width: 62px;
     height: 25px;
    }

 .puspin2 {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 331px;
    top: 537px;
     width: 60px;
     height: 19px;
    }

 .female {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 47px;
    top: 536px;
     width: 59px;
     height: 20px;
    }

 .description {
    color: #000000;
     text-align: left;
     font: 400 16px 'Marko One', sans-serif;
     position: absolute;
     left: 31px;
    top: 661px;
    }

 .bell-10-pounds-10-inches {
    color: #000000;
     text-align: left;
     position: absolute;
     left: 45px;
    top: 453px;
     width: 88px;
    }

.bell-10-pounds-10-inches-span {
    
            color: #000000;
    
            font: 400 15px 'Marko One', sans-serif;
    
            
            
        }

.bell-10-pounds-10-inches-span2 {
    
            color: #000000;
    
            font: 400 13px 'Marko One', sans-serif;
    
            
            
        }

 ._3-years {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 133px;
    top: 536px;
     width: 78px;
     height: 21px;
    }

 .group-122 {
    position: absolute;
     inset: 0;
    }

 .group-117 {
    width: 244.14px;
     height: 59.23px;
     position: static;
    }

 .group-47 {
    width: 244.14px;
     height: 59.23px;
     position: static;
    }

 .rectangle-28 {
    background: #ffffff;
     border-radius: 86.09px;
     width: 243.99px;
     height: 58.59px;
     position: absolute;
     left: 107.16px;
    top: 51px;
     transform-origin: 0 0;
     transform: rotate(0.152deg) scale(1, 1);
    }

 .search {
    position: absolute;
     left: 133px;
    top: 63px;
     overflow: visible;
    }

 .puspin3 {
    color: #000000;
     text-align: left;
     font: 400 24px 'Metrophobic', sans-serif;
     position: absolute;
     left: 182px;
    top: 63px;
    }

 .arrow-left {
    width: 48px;
     height: 48px;
     position: absolute;
     left: 38px;
    top: 54px;
     overflow: hidden;
    }

 .group {
    position: absolute;
     left: 3px;
    top: 10.5px;
     overflow: visible;
    }

 .cart-4 {
    width: 48px;
     height: 48px;
     position: absolute;
     left: 361px;
    top: 54px;
     overflow: hidden;
    }

 .group-13 {
    position: absolute;
     inset: 0;
    }

 .group2 {
    position: absolute;
     left: 0px;
    top: 6px;
     overflow: visible;
    }

 .group-60 {
    position: absolute;
     inset: 0;
    }

 .group-58 {
    width: 110.9px;
     height: 44px;
     position: static;
    }

 .rectangle-31 {
    background: #f00707;
     border-radius: 48px;
     width: 104px;
     height: 44px;
     position: absolute;
     left: 298px;
    top: 857px;
    }

 .buy-now {
    color: #ffffff;
     text-align: left;
     font: 400 16px 'Marmelad', sans-serif;
     position: absolute;
     left: 320px;
    top: 866px;
     width: 88.9px;
    }

 .group-63 {
    position: absolute;
     inset: 0;
    }

 .group-59 {
    width: 104px;
     height: 44px;
     position: static;
    }

 .rectangle-312 {
    background: #ffffff;
     border-radius: 48px;
     width: 104px;
     height: 44px;
     position: absolute;
     left: 184px;
    top: 857px;
    }

 .add-to-cart {
    color: #f00707;
     text-align: left;
     font: 400 15px 'Marmelad', sans-serif;
     position: absolute;
     left: 203px;
    top: 875px;
     width: 81.82px;
    }

 .group-62 {
    position: absolute;
     inset: 0;
    }

 .commenting {
    position: absolute;
     left: 97.87px;
    top: 854px;
     overflow: visible;
    }

 .message {
    color: #000000;
     text-align: left;
     font: 400 16px 'Inter', sans-serif;
     position: absolute;
     left: 84px;
    top: 893.13px;
     width: 87px;
     height: 21.87px;
    }

 .group-582 {
    position: absolute;
     inset: 0;
    }

 .group-229 {
    position: absolute;
     inset: 0;
    }

 .group-622 {
    width: 87px;
     height: 61px;
     position: static;
    }

 .commenting2 {
    position: absolute;
     left: 97.87px;
    top: 854px;
     overflow: visible;
    }

 .group-192 {
    position: absolute;
     inset: 0;
    }

 .vector6 {
    position: absolute;
     left: 23.99px;
    top: 848px;
     overflow: visible;
    }

 .shop {
    color: #000000;
     text-align: left;
     font: 400 16px 'Inter', sans-serif;
     position: absolute;
     left: 28px;
    top: 895.71px;
     width: 39px;
     height: 19.29px;
    }

 .vector7 {
    position: absolute;
     left: 23.99px;
    top: 848px;
     overflow: visible;
    }

 .bell-is-a-female-puspin-she-is-a-3-years-old-cat-with-a-weight-of-10-pounds-and-10-inches-height-her-color-is-orange-she-is-fully-vaccinated-with-feline-4-in-1-that-worth-700-pesos-and-6-in-1-worth-800-pesos-she-is-a-kind-and-lovable-cat {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marcellus', sans-serif;
     position: absolute;
     left: 32px;
    top: 693px;
     width: 368px;
     height: 144px;
    }

