.shih-tzu-description, .shih-tzu-description * {
     box-sizing: border-box;
     }
.shih-tzu-description {
    background: linear-gradient(180deg, rgba(254, 10, 229, 0.00) 0%,rgba(27, 251, 251, 1.00) 100%);
     width: 430px;
     height: 932px;
     position: relative;
     overflow: hidden;
    }

 .rectangle-24 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%,rgba(91, 104, 219, 1.00) 100%);
     border-radius: 23px;
     width: 393px;
     height: 697px;
     position: absolute;
     left: 16px;
    top: 144px;
    }

 .snowy-is-an-aspin-female-dog-she-is-5-years-old-with-a-brown-and-white-color-she-is-fully-vaccinated-with-3-in-1-that-is-worth-350-and-5-in-1-vaccine-worth-450-snowy-weight-is-16-kilogram-and-height-is-58-centimeter-she-is-a-sweet-kind-and-lovable-aspin-that-love-affection {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marcellus', sans-serif;
     position: absolute;
     left: 30px;
    top: 691px;
     width: 368px;
     height: 117px;
    }

 .group-47 {
    position: absolute;
     inset: 0;
    }

 .rectangle-28 {
    background: #ffffff;
     border-radius: 86.09px;
     width: 243.99px;
     height: 58.59px;
     position: absolute;
     left: 107.16px;
    top: 51px;
     transform-origin: 0 0;
     transform: rotate(0.152deg) scale(1, 1);
    }

 .search {
    position: absolute;
     left: 133px;
    top: 63px;
     overflow: visible;
    }

 .aspin {
    color: #000000;
     text-align: left;
     font: 400 24px 'Metrophobic', sans-serif;
     position: absolute;
     left: 182px;
    top: 63px;
    }

 .group-45 {
    position: absolute;
     inset: 0;
    }

 .arrow-left {
    width: 48px;
     height: 48px;
     position: absolute;
     left: 38px;
    top: 54px;
     overflow: hidden;
    }

 .group {
    position: absolute;
     left: 3px;
    top: 10.5px;
     overflow: visible;
    }

 .rectangle-19 {
    border-radius: 31px;
     width: 343px;
     height: 309px;
     position: absolute;
     left: 41px;
    top: 144px;
    }

 .group-176 {
    position: absolute;
     inset: 0;
    }

 .cash-on-delivery-available {
    color: #000000;
     text-align: left;
     font: 400 13px 'Marmelad', sans-serif;
     position: absolute;
     left: 220px;
    top: 634px;
    }

 .aspin2 {
    color: #000000;
     text-align: left;
     font: 400 20px 'Marmelad', sans-serif;
     position: absolute;
     left: 37px;
    top: 588px;
    }

 ._800-00 {
    color: #f00707;
     text-align: left;
     font: 400 20px 'Marmelad', sans-serif;
     position: absolute;
     left: 37px;
    top: 612px;
    }

 .payment-service {
    color: #000000;
     text-align: left;
     font: 400 20px 'Marko One', sans-serif;
     position: absolute;
     left: 212px;
    top: 588px;
    }

 .rectangle-20 {
    background: #07922e;
     width: 31px;
     height: 19px;
     position: absolute;
     left: 181px;
    top: 632px;
    }

 .cod {
    color: #ffffff;
     text-align: left;
     font: 400 13px 'Marmelad', sans-serif;
     position: absolute;
     left: 186px;
    top: 649px;
     width: 31px;
     height: 15px;
     transform-origin: 0 0;
     transform: rotate(0deg) scale(1, -1);
    }

 .cart-4 {
    width: 48px;
     height: 48px;
     position: absolute;
     left: 361px;
    top: 54px;
     overflow: hidden;
    }

 .group-13 {
    position: absolute;
     inset: 0;
    }

 .group2 {
    position: absolute;
     left: 0px;
    top: 6px;
     overflow: visible;
    }

 .group-60 {
    position: absolute;
     inset: 0;
    }

 .group-58 {
    width: 110.9px;
     height: 44px;
     position: static;
    }

 .rectangle-31 {
    background: #f00707;
     border-radius: 48px;
     width: 104px;
     height: 44px;
     position: absolute;
     left: 295.01px;
    top: 863px;
    }

 .buy-now {
    color: #ffffff;
     text-align: left;
     font: 400 16px 'Marmelad', sans-serif;
     position: absolute;
     left: 317.01px;
    top: 872px;
     width: 88.9px;
    }

 .group-63 {
    position: absolute;
     inset: 0;
    }

 .group-59 {
    width: 104px;
     height: 44px;
     position: static;
    }

 .rectangle-312 {
    background: #ffffff;
     border-radius: 48px;
     width: 104px;
     height: 44px;
     position: absolute;
     left: 181.01px;
    top: 863px;
    }

 .add-to-cart {
    color: #f00707;
     text-align: left;
     font: 400 15px 'Marmelad', sans-serif;
     position: absolute;
     left: 194.01px;
    top: 876px;
     width: 81.82px;
    }

 .group-62 {
    position: absolute;
     inset: 0;
    }

 .commenting {
    position: absolute;
     left: 94.88px;
    top: 860px;
     overflow: visible;
    }

 .message {
    color: #000000;
     text-align: left;
     font: 400 16px 'Inter', sans-serif;
     position: absolute;
     left: 81.01px;
    top: 899.13px;
     width: 87px;
     height: 21.87px;
    }

 .group-191 {
    position: absolute;
     inset: 0;
    }

 .vector5 {
    position: absolute;
     left: 21px;
    top: 854px;
     overflow: visible;
    }

 .shop {
    color: #000000;
     text-align: left;
     font: 400 16px 'Inter', sans-serif;
     position: absolute;
     left: 25.01px;
    top: 901.71px;
     width: 39px;
     height: 19.29px;
    }

 .commenting2 {
    position: absolute;
     left: 94.88px;
    top: 860px;
     overflow: visible;
    }

 .rectangle-102 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 30px;
    top: 525px;
    }

 .rectangle-107 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 127px;
    top: 525px;
    }

 .rectangle-108 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 88px;
     height: 42px;
     position: absolute;
     left: 220px;
    top: 525px;
    }

 .rectangle-109 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%,rgba(217, 217, 217, 0.00) 100%);
     border-radius: 16px;
     width: 78px;
     height: 42px;
     position: absolute;
     left: 321px;
    top: 525px;
    }

 .rectangle-106 {
    background: rgba(217, 217, 217, 0.94);
     border-radius: 16px;
     width: 352px;
     height: 70px;
     position: absolute;
     left: 37px;
    top: 445px;
    }

 .fully-vaccinated {
    color: #000000;
     text-align: left;
     font: 400 13px 'Marko One', sans-serif;
     position: absolute;
     left: 274px;
    top: 472px;
    }

 .white-and-browm {
    color: #000000;
     text-align: center;
     font: 400 12px 'Marko One', sans-serif;
     position: absolute;
     left: 215px;
    top: 527px;
     width: 93px;
     height: 25px;
    }

 .aspin3 {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 340px;
    top: 537px;
     width: 78px;
     height: 19px;
    }

 .female {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 39px;
    top: 536px;
     width: 59px;
     height: 20px;
    }

 .description {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 31px;
    top: 661px;
    }

 .snowy-16-kilogram-58-cm {
    color: #000000;
     text-align: left;
     position: absolute;
     left: 45px;
    top: 453px;
     width: 88px;
    }

.snowy-16-kilogram-58-cm-span {
    
            color: #000000;
    
            font: 400 15px 'Marko One', sans-serif;
    
            
            
        }

.snowy-16-kilogram-58-cm-span2 {
    
            color: #000000;
    
            font: 400 13px 'Marko One', sans-serif;
    
            
            
        }

 ._5-years {
    color: #000000;
     text-align: left;
     font: 400 15px 'Marko One', sans-serif;
     position: absolute;
     left: 133px;
    top: 536px;
     width: 78px;
     height: 21px;
    }

