*{
 margin: 0;
 padding: 0; 
}
.forgot-password-2, .forgot-password-2 * {
   box-sizing: border-box;
   }
.forgot-password-2 {
  background: linear-gradient(180deg, rgba(254, 10, 229, 0.00) 0%,rgba(27, 251, 251, 1.00) 100%);
   width: 430px;
   height: 932px;
   position: relative;
   overflow: hidden;
  }

.rectangle-70 {
  background: linear-gradient(180deg, rgba(127, 131, 217, 1.00) 0%,rgba(127, 131, 217, 0.00) 100%);
   border-radius: 66px;
   width: 403px;
   height: 574px;
   position: absolute;
   left: 13px;
  top: 103px;
  }

.group-167 {
  position: absolute;
   inset: 0;
  }

.set-your-password {
  color: #000000;
   text-align: center;
   font: 400 40px 'Markazi Text', sans-serif;
   position: absolute;
   left: 64px;
  top: 162px;
   width: 291px;
   height: 47px;
  }

.group-168 {
  position: absolute;
   inset: 0;
  }

.group-161 {
  width: 335px;
   height: 56px;
   position: static;
  }

.rectangle-28 {
  background: #f00707;
   border-radius: 110px;
   width: 335px;
   height: 56px;
   position: absolute;
   left: 49px;
  top: 693px;
  }

.ok {
  color: #ffffff;
   text-align: center;
   font: 700 36px 'Markazi Text', sans-serif;
   position: absolute;
   left: 77px;
  top: 702px;
   width: 291px;
   height: 47px;
  }

.password-must-be-8-16-characters-long-and-contain-one-uppercase-and-one-lowercase-character {
  color: #000000;
   text-align: center;
   font: 400 32px 'Markazi Text', sans-serif;
   position: absolute;
   left: 48px;
  top: 439px;
   width: 343px;
   height: 126px;
  }

.sign-in {
  color: #1bfbfb;
   text-align: center;
   font: 400 32px 'Markazi Text', sans-serif;
   position: absolute;
   left: 147px;
  top: 53px;
   width: 137px;
   height: 31px;
  }

.group-206 {
  position: absolute;
   inset: 0;
  }

.line-17 {
  border-style: solid;
   border-color: #000000;
   border-width: 1px 0 0 0;
   width: 319px;
   height: 0px;
   position: absolute;
   left: 57px;
  top: 410px;
   transform-origin: 0 0;
   transform: rotate(-0.18deg) scale(1, 1);
  }

.lock-1 {
  width: 47px;
   height: 30px;
   position: absolute;
   left: 49px;
  top: 363px;
  }

.password {
  color: #000000;
   text-align: center;
   font: 400 24px 'Markazi Text', sans-serif;
   position: absolute;
   left: 64px;
  top: 373px;
   width: 171px;
   height: 33px;
  }

.group-90 {
  position: absolute;
   inset: 0;
  }

.group {
  position: absolute;
   left: 25px;
  top: 62px;
   overflow: visible;
  }

